{% extends "layout.html" %}

{% block title %}{{ gettext("Inventory") }}{% endblock %}

{% block main %}

<form method="POST">
    {{ form.csrf_token }}

    <div class="card mx-auto" style="max-width: 70rem;">

        <div class="card-header h5 py-2">
            {{ gettext("Inventory check") }}
            <br>
            <span class="text-secondary">{{ user.name }}</span>
        </div>

        <div class="card-body p-0">
            <div class="table-responsive mx-auto">
                <table class="table align-middle table-sm table-hover table-bordered border-light-subtle table-striped m-0">
                    {% if not user.done_inv %}
                    <caption class="text-center">{{ gettext("*Select to order a product if current stock is less then minimum stock.") }}</caption>
                    <caption class="text-center">{{ gettext("*Critical products are highlighted in red.") }}</caption>
                    {% endif %}
                    <thead>
                        <tr>
                            <th>{{ gettext("Code") }}</th>
                            <th>{{ gettext("Description") }}</th>
                            <th>{{ gettext("Min. Stock") }}</th>
                            <th>{{ gettext("Order") }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>
                            {% if session.admin %}
                                <a class="link-dark link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover" href="{{ url_for('prod.edit_product', product=product.name) }}">{{ product.name }}</a>
                            {% else %}
                                {{ product.name }}
                            {% endif %}
                            </td>
                            <td>{{ product.description }}</td>
                            <td {% if product.critical %}class="text-danger"{% endif %}>{{ product.min_stock }} {{ product.meas_unit }}</td>
                            <td>
                                <div class="form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="{{ product.id }}" name="{{ product.id }}" {% if user.done_inv %}disabled{% endif %} {% if product.to_order %}checked{% endif %}>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer py-3">
            <input class="btn btn-primary px-4" type="submit" {% if user.done_inv %}value="{{ gettext("Inventory check not required") }}" disabled{% else %}value="{{ gettext("Submit inventory") }}"{% endif %} >
        </div>
    </div>
</form>
{% endblock %}