{% extends "layout.html" %}

{% block title %}Inventory{% endblock %}

{% block page_title %}
Inventory check
<h5><span class="text-secondary">{{ user.name }}</span></h5>
{% endblock %}

{% block main %}

<form method="POST">
    {{ form.csrf_token }}
    <div class="table-responsive mx-auto" style="max-width: 70rem;">
        <table class="table align-middle table-sm table-hover table-bordered border-light-subtle">
            {% if not user.done_inv %}
            <caption class="text-center">*Select to order a product if current stock is less then minimum stock.</caption>
            <caption class="text-center">*Critical products are highlighted in red.</caption>
            {% endif %}
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Min. Stock</th>
                    <th>Order</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td {% if product.critical %}class="text-danger"{% endif %}>{{ product.min_stock }} {{ product.meas_unit }}</td>
                    <td>
                        <div class="form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="{{ product.id }}" name="{{ product.id }}" {% if user.done_inv %}disabled{% endif %} {% if product.to_order %}checked{% endif %}>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <input class="btn btn-primary" type="submit" {% if user.done_inv %}value="Inventory check not required" disabled{% else %}value="Submit inventory"{% endif %} >
</form>
{% endblock %}