APScheduler==3.10.4
astroid==2.15.5
Babel==2.12.1
blinker==1.6.2
click==8.1.3
coverage==7.2.7
dill==0.3.6
dnspython==2.4.2
email-validator==2.0.0.post2
Flask==2.3.2
flask-babel==3.1.0
Flask-WTF==1.1.1
greenlet==2.0.2
idna==3.4
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
packaging==23.1
platformdirs==3.6.0
pluggy==1.0.0
pycodestyle==2.10.0
pylint==2.17.4
pytest==7.3.2
python-dotenv==1.0.0
pytz==2023.3.post1
six==1.16.0
SQLAlchemy==2.0.16
tomlkit==0.11.8
typing_extensions==4.6.3
tzlocal==5.0.1
Werkzeug==2.3.6
wrapt==1.15.0
WTForms==3.0.1
