{% extends "layout.html" %}

{% block title %}Main{% endblock %}

{% block page_title %}Index{% endblock %}

{% block main %}


    <div class="card mx-auto mb-3" style="max-width: 40rem;">
        <div class="card-header">
            <strong>User dashboard</strong>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Logged in as <span class="text-secondary">{{ user.name }}</span></li>
            <li class="list-group-item">You have <span class="text-secondary">{{ user.in_use_products }} products</span> assigned</li>
            <li class="list-group-item">
                {% if user.req_inv %}
                    <span class="text-warning">You requested a inventory check</span>
                {% else %}
                    {% if user.done_inv %}
                        <span class="text-secondary">Inventory check not required</span>
                    {% else %}
                        <a class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ url_for('inv.inventory') }}">Check inventory</a>
                    {% endif %}
                {% endif %}
            </li>
        </ul>
    </div>
    {% if not session.admin and user.in_use_products and user.done_inv and not user.req_inv %}
        <a class="btn btn-primary" role="button" href="{{ url_for('inv.inventory_request') }}">Request inventory</a>
    {% endif %}
    {% if session.admin %}
        <div class="card mx-auto mb-3" style="max-width: 40rem;">
            <div class="card-header">
                <strong>Admin dashboard</strong>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-2 pb-0">
                    <div class="table-responsive mx-auto" style="width: auto;">
                        <table class="table align-middle table-sm table-hover table-bordered border-light-subtle table-striped">
                            <caption class="text-center pb-0">*Bolded users have administrative privileges.</caption>
                            <caption class="text-center pb-0">*Strikethrough users are no longer in use.</caption>
                            <thead>
                                <tr>
                                    <th class="px-3">Name</th>
                                    <th class="px-3">Products Assigned</th>
                                    <th class="px-3">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td><span class="{% if not user.in_use %}text-decoration-line-through{% endif %}{% if user.admin %} fw-bolder{% endif %}"><a class="link-dark link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover" href="{{ url_for('users.edit_user', username=user.name) }}">{{ user.name }}</a>
                                        </span>
                                    </td>
                                    <td>{{ user.in_use_products }}</td>
                                    <td>
                                        {% if not user.done_inv %}
                                            <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                            href="{{ url_for('inv.inventory_user', username=user.name) }}">check inventory</a>
                                        {% endif %}
                                        {% if user.req_inv %}
                                            <a class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                            href="{{ url_for('users.approve_check_inv', username=user.name) }}">requested inventory</a>
                                        {% endif %}
                                        {% if user.reg_req %}
                                            <a class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                            href="{{ url_for('users.approve_reg', username=user.name) }}">requested registration</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="list-group-item">
                    {% if stats.products_to_order %}
                        {# TODO link to order products #}
                        <span class="text-danger">There are {{ stats.products_to_order }} products that need to be ordered</span>
                    {% else %}
                        There are no products that need to be ordered
                    {% endif %}
                </li>
            </ul>
            <div class="card-footer">
                <!-- <input class="btn btn-primary px-4" id="approve-inventory" name="approve-inventory" type="submit" value="Create user"> -->
                <a class="btn btn-primary px-4" href="{{ url_for('users.approve_check_inv_all') }}">Start Inventorying</a>
            </div>
        </div>

        <div class="card mx-auto mb-3" style="max-width: 40rem;">
            <div class="card-header">
                <strong>Statistics</strong>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    There are <span class="text-secondary">{{ stats.users_in_use }} users</span> in use
                </li>
                <li class="list-group-item">
                    {# TODO link to categories #}
                    There are <span class="text-secondary">{{ stats.categories_in_use }} categories</span> in use
                </li>
                <li class="list-group-item">
                    {# TODO link to suppliers #}
                    There are <span class="text-secondary">{{ stats.suppliers_in_use }} suppliers</span> in use
                </li>
                <li class="list-group-item">
                    {# TODO link to products #}
                    There are <span class="text-secondary">{{ stats.products_in_use }} products</span> in use of which <span class="text-secondary">{{ stats.critical_products }}</span> are critical.
                </li>
            </ul>
        </div>
    {% endif %}
    
{% endblock %}