{% extends "layout.html" %}

{% block title %}{{ gettext("Edit product") }}{% endblock %}

{% block main %}

<form method="POST" autocomplete="off">
    {{ form.csrf_token }}

    <div class="card mx-auto" style="max-width: 35rem;">
        
        <div class="card-header h5 py-2">
            {{ gettext("Edit product") }}
            <br>
            <span class="text-secondary">{{ request.view_args.product }}</span>
        </div>

        <div class="card-body">
            
            <div class="form-floating mb-3">
                {{ form.name }}
                {{ form.name.label(class="text-decoration-underline") }}
            </div>

            <div class="form-floating mb-3">
                {{ form.description }}
                {{ form.description.label(class="text-decoration-underline") }}
            </div>

            <div class="row g-2">
                <div class="col-sm">
                    <div class="form-floating mb-3">
                        {{ form.responsible_id }}
                        {{ form.responsible_id.label(class="text-decoration-underline") }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-floating mb-3">
                        {{ form.category_id }}
                        {{ form.category_id.label(class="text-decoration-underline") }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-floating mb-3">
                        {{ form.supplier_id }}
                        {{ form.supplier_id.label(class="text-decoration-underline") }}
                    </div>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-sm">
                    <div class="form-floating mb-3">
                        {{ form.min_stock }}
                        {{ form.min_stock.label(class="text-decoration-underline") }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-floating mb-3">
                        {{ form.ord_qty }}
                        {{ form.ord_qty.label(class="text-decoration-underline") }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-floating mb-3">
                        {{ form.meas_unit }}
                        {{ form.meas_unit.label(class="text-decoration-underline") }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body p-1">
                            {{ form.to_order.label }}
                        </div>
                        <div class="card-footer">
                            <div class="form-switch">
                                {{ form.to_order }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card h-100">
                        <div class="card-body p-1">
                            {{ form.critical.label }}
                        </div>
                        <div class="card-footer">
                            <div class="form-switch">
                                {{ form.critical }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body p-1">
                            {{ form.in_use.label }}
                        </div>
                        <div class="card-footer">
                            <div class="form-switch">
                                {{ form.in_use }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="text-body-tertiary">{{ gettext("Underlined fields are required") }}</span>
        </div>

        <div class="card-footer py-3">
            <div class="row row-cols-2 g-4">
                <div class="col">
                    {{ form.submit }}
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger px-4" data-bs-toggle="modal" data-bs-target="#deleteModal">{{ gettext("Delete") }}</button>

                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">{{ pgettext("question", "Delete") }} <span class="text-secondary">{{ form.name.data }}</span>?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                {{ gettext("This will delete this product! You can't undo this action.") }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ gettext("Close") }}</button>
                                {{ form.delete }}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}