{% extends "layout.html" %}

{% block title %}{{ gettext("Products") }}{% endblock %}

{% block main %}
<div class="card mx-auto mb-3" style="max-width: 70rem;">
    <div class="card-header h5 py-2">
        {{ gettext("Products") }}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-0">
            <div class="table-responsive mx-auto" style="width: auto;">
                <table class="table align-middle table-sm table-hover table-bordered border-light-subtle table-striped">
                    <caption class="text-center pb-0">{{ Message.UI.Captions.Strikethrough("products") }}</caption>
                    <caption class="text-center pb-0">{{ Message.UI.Captions.CriticalProducts() }}</caption>
                    <thead>
                        <tr>
                            <th class="px-1">
                                {% if request.view_args.ordered_by == 'code' %}
                                    <span class="text-secondary">{{ gettext("Code") }}</span>
                                {% else %}
                                    <a class="link-dark link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover" href="{{ url_for('prod.products', ordered_by='code') }}">{{ gettext("Code") }}</a>
                                {% endif %}
                            </th>
                            <th class="px-1">{{ gettext("Description") }}</th>
                            <th class="px-1">
                                {% if request.view_args.ordered_by == 'responsible' %}
                                    <span class="text-secondary">{{ gettext("Responsible") }}</span>
                                {% else %}
                                    <a class="link-dark link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover" href="{{ url_for('prod.products', ordered_by='responsible') }}">{{ gettext("Responsible") }}</a>
                                {% endif %}
                            </th>
                            <th class="px-1">
                                {% if request.view_args.ordered_by == 'category' %}
                                    <span class="text-secondary">{{ gettext("Category") }}</span>
                                {% else %}
                                    <a class="link-dark link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover" href="{{ url_for('prod.products', ordered_by='category') }}">{{ gettext("Category") }}</a>
                                {% endif %}
                            </th>
                            <th class="px-1">
                                {% if request.view_args.ordered_by == 'supplier' %}
                                    <span class="text-secondary">{{ gettext("Supplier") }}</span>
                                {% else %}
                                    <a class="link-dark link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover" href="{{ url_for('prod.products', ordered_by='supplier') }}">{{ gettext("Supplier") }}</a>
                                {% endif %}
                            </th>
                            <th>{{ gettext("Min stock") }} / {{ gettext("Order qty") }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>
                                <span class="
                                {% if not product.in_use %}
                                    text-decoration-line-through
                                {% endif %}
                                "><a class="
                                {% if product.critical %}
                                    link-danger
                                {% else %}
                                    link-dark
                                {% endif %}
                                link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover" href="{{ url_for('prod.edit_product', product=product.name) }}">{{ product.name }}</a>
                                </span>
                            </td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.responsible.name }}</td>
                            <td>{{ product.category.name }}</td>
                            <td>{{ product.supplier.name }}</td>
                            <td>{{ product.min_stock }} / {{ product.ord_qty }} {{ product.meas_unit }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </li>
        <li class="list-group-item">{{ Message.UI.Stats.Global("products", stats.all_products, stats.in_use_products) }}</li>
        <li class="list-group-item">{{ Message.UI.Stats.Global("critical_products", stats.critical_products, stats.in_use_critical_products) }}</li>
    </ul>
</div>


{% endblock %}