{% extends "layout.html" %}

{% block title %}{{ gettext("Order") }}{% endblock %}

{% block main %}
<form method="POST">
    {{ form.csrf_token }}

    <div class="card mx-auto mb-3" style="max-width: 70rem;">
        <div class="card-header h5 py-2">
            {{ gettext("Products to order") }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item p-0">
                <div class="table-responsive mx-auto" style="width: auto;">
                    <table class="table align-middle table-sm table-hover table-bordered border-light-subtle table-striped">
                        <caption class="text-center pb-0">{{ gettext("*Critical products are highlighted in red.") }}</caption>
                        <thead>
                            <tr>
                                <th class="px-1">{{ gettext("Code") }}</th>
                                <th class="px-1">{{ gettext("Description") }}</th>
                                <th class="px-1">{{ gettext("Responsible") }}</th>
                                <th class="px-1">{{ gettext("Category") }}</th>
                                <th class="px-1">{{ gettext("Supplier") }}</th>
                                <th class="px-1">{{ gettext("Quantity") }}</th>
                                <th class="px-1">{{ gettext("Ordered") }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td>
                                    <span><a class="
                                    {% if product.critical %}
                                        link-danger
                                    {% else %}
                                        link-dark
                                    {% endif %}
                                    link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover" href="{{ url_for('prod.edit_product', product=product.name) }}">{{ product.name }}</a>
                                    </span>
                                </td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.responsible.name }}</td>
                                <td>{{ product.category.name }}</td>
                                <td>{{ product.supplier.name }}</td>
                                <td>{{ product.ord_qty }} {{ product.meas_unit }}</td>
                                <td>
                                    <div class="form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="{{ product.id }}" name="{{ product.id }}">
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>
            <li class="list-group-item">
                {{ ngettext("There is", "There are", products|length) }} <span class="text-secondary">{{ products|length }} {{ ngettext("product", "products", products|length) }}</span> {{ ngettext("that needs to be ordered", "that need to be ordered", products|length) }}
            </li>
        </ul>

        <div class="card-footer py-3">
            <div class="row row-cols-2 g-4">
                <div class="col">
                    <input class="btn btn-primary px-4" type="submit" value="{{ gettext("Update") }}">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-warning px-4" data-bs-toggle="modal" data-bs-target="#deleteModal">{{ gettext("All ordered") }}</button>

                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">{{ gettext("Confirm all products ordered") }}?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                {{ gettext("Confirm that all products were ordered") }}.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ gettext("Close") }}</button>
                                <a class="btn btn-warning px-4" href="{{ url_for('prod.all_products_ordered') }}">{{ gettext("All products ordered") }}</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}