{% extends "layout.html" %}

{% block link %}
    <script src="{{ url_for('auth.static', filename='login_rules.js') }}"></script>
{% endblock link %}

{% block title %}Log In{% endblock %}

{% block main %}
    <form class="mx-auto" action="{{ url_for('auth.login') }}" method="POST">
        
        {{ form.csrf_token }}
        
        <div class="form-floating mb-3 mx-auto">
            {{ form.name(class="form-control", placeholder=form.name.label.text, autocomplete="off") }}
            <label>Username</label>
            <div class="invalid-feedback">
                <div class="alert d-none p-0" id="name-alert" role="alert" data-mdb-color="warning">
                <ul class="list-unstyled mb-0">
                    <li class="userrequirements userleng">
                    Enter username</li>
                </ul>
                </div>
            </div>
        </div>

        <div class="form-floating mb-3 mx-auto">
            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
            <label>Password</label>
            <div class="invalid-feedback">
                <div class="alert d-none p-0" id="password-alert" role="alert" data-mdb-color="warning">
                <ul class="list-unstyled mb-0">
                    <li class="requirements leng">
                    Enter password</li>
                </ul>
                </div>
            </div>
        </div>

        <input class="btn btn-primary" id="submit_button" type="submit" value="Log In" disabled>
    </form>
{% endblock %}