{% extends "layout.html" %}

{% block title %}Log In{% endblock %}

{% block main %}
    <form class="mx-auto" action="{{ url_for('auth.login') }}" method="POST">
        
        {{ form.csrf_token }}
        
        <div class="form-floating mb-3 mx-auto">
            {{ form.name(class="form-control", placeholder=form.name.label.text, autocomplete="off") }}
            <label>Username</label>
        </div>

        <div class="form-floating mb-3 mx-auto">
            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
            <label>Password</label>
        </div>

        <input class="btn btn-primary" type="submit" value="Log In">
    </form>
{% endblock %}