{% extends "layout.html" %}

{% block link %}
    <script src="{{ url_for('auth.static', filename='login_rules.js') }}"></script>
{% endblock link %}

{% block title %}{{ gettext("Log In") }}{% endblock %}

{% block main %}
<div class="card mx-auto" style="max-width: 20rem;">
    <form method="POST">
        <div class="card-header h5 py-2">
            {{ gettext("Login") }}
        </div>

        <div class="card-body">
            {{ form.csrf_token }}
            
            <div class="form-floating mb-3">
                {{ form.name }}
                {{ form.name.label }}
                <div class="invalid-feedback">
                    <div class="alert d-none p-0" id="name-alert" role="alert" data-mdb-color="warning">
                        <ul class="list-unstyled mb-0">
                            <li class="userrequirements userleng">
                            {{ gettext("Enter username") }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-floating mb-3">
                {{ form.password }}
                {{ form.password.label }}
                <div class="invalid-feedback">
                    <div class="alert d-none p-0" id="password-alert" role="alert" data-mdb-color="warning">
                        <ul class="list-unstyled mb-0">
                            <li class="requirements leng">
                            {{ gettext("Enter password") }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <span class="text-body-tertiary">{{ _("All fields are required") }}</span>
        </div>
        
        <div class="card-footer py-3">
            {{ form.submit }}
        </div>
    </form>
</div>
{% endblock %}