{% extends "layout.html" %}

{% block link %}
    <script src="{{ url_for('auth.static', filename='registration_rules.js') }}"></script>
{% endblock link %}

{% block title %}{{ gettext("Register") }}{% endblock %}

{% block main %}
<div class="card mx-auto" style="max-width: 20rem;">
    <form method="POST">
        <div class="card-header h5 py-2">
            {{ gettext("Register") }}
        </div>

        <div class="card-body">
            {{ form.csrf_token }}

            <div class="form-floating mb-3">
                {{ form.name }}
                {{ form.name.label }}
                <div class="invalid-feedback">
                    <div class="alert d-none p-0" id="name-alert" role="alert" data-mdb-color="warning">
                    <ul class="list-unstyled mb-0">
                        <li class="userrequirements userleng">
                        {{ gettext("Must have at least 3 chars") }}</li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="form-floating mb-3">
                {{ form.password }}
                {{ form.password.label }}
                <div class="invalid-feedback">
                    <div class="alert d-none p-0" id="password-alert" role="alert" data-mdb-color="warning">
                    <ul class="list-unstyled mb-0">
                        <li class="requirements leng">
                        {{ gettext("Must have at least 8 chars") }}</li>
                        <li class="requirements big-letter">
                        {{ gettext("Must have at least 1 big letter") }}</li>
                        <li class="requirements num">
                        {{ gettext("Must have at least 1 number") }}</li>
                        <li class="requirements special-char">
                        {{ gettext("Must have at least 1 special char") }} (!@#$%^&*_=+)</li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="form-floating mb-3">
                {{ form.confirm }}
                {{ form.confirm.label }}
                <div class="invalid-feedback">
                    <div class="alert d-none p-0" id="confirm-alert" role="alert" data-mdb-color="warning">
                    <ul class="list-unstyled mb-0">
                        <li class="confirmrequirements confirmequal">
                        {{ gettext("Passwords don't match") }}</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                {{ form.email }}
                {{ form.email.label }}
            </div>
            <span class="text-body-tertiary">{{ gettext("All fields except email are required") }}</span>
        </div>

        <div class="card-footer py-3">
            {{ form.submit }}
        </div>
    </form>
</div>
{% endblock %}