{% extends "layout.html" %}

{% block title %}{{ gettext("Schedules") }}{% endblock %}

{% block main %}
    <div class="card mx-auto mb-3" style="max-width: 40rem;">
    <div class="card-header h5 py-2">
        {{ gettext("Schedules") }}
    </div>
    <div class="card-body">
        <h5 class="card-title mb-3">{{ gettext("Saturday movie schedule") }}</h5>
        {# Saturday schedule group 1 #}
        <h6 class="card-subtitle text-body-secondary mb-2">{{ gettext("Group 1") }}</h6>
        <div class="table-responsive mx-auto mb-3" style="max-width: 30rem; border: 1px solid var(--bs-border-color); border-radius: 10px;">
            <table class="table align-middle table-sm table-borderless m-0">
                <tbody>
                    <tr>
                        <td style="width: 50%; border-right: solid 1px var(--bs-border-color)">
                            <ol class="m-0">
                            {% for name in sat_group_1_names %}
                                <li>
                                {% if name == session["user_name"] %}
                                     <b>{{ name }}</b>
                                {% else %}
                                    {{ name }}
                                {% endif %}
                                </li>
                            {% endfor %}
                            </ol>
                        </td>
                        <td>
                            <ul class="p-0 m-0" style="list-style-type: none;">
                                {% for date in sat_group_1_dates %}
                                    <li>
                                    {% if (date == sat_group_1_dates|first) and (next_sat_group == 1) %}
                                        <b>{{ date }}</b>
                                    {% else %}
                                        {{ date }}
                                    {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {# Saturday schedule group 2 #}
        <h6 class="card-subtitle text-body-secondary mb-2">{{ gettext("Group 2") }}</h6>
        <div class="table-responsive mx-auto mb-3" style="max-width: 30rem; border: 1px solid var(--bs-border-color); border-radius: 10px;">
            <table class="table align-middle table-sm table-borderless m-0">
                <tbody>
                    <tr>
                        <td style="width: 50%; border-right: solid 1px var(--bs-border-color)">
                            <ol class="m-0">
                            {% for name in sat_group_2_names %}
                                <li>
                                {% if name == session["user_name"] %}
                                     <b>{{ name }}</b>
                                {% else %}
                                    {{ name }}
                                {% endif %}
                                </li>
                            {% endfor %}
                            </ol>
                        </td>
                        <td>
                            <ul class="p-0 m-0" style="list-style-type: none;">
                                {% for date in sat_group_2_dates %}
                                    <li>
                                    {% if (date == sat_group_2_dates|first) and (next_sat_group == 2) %}
                                        <b>{{ date }}</b>
                                    {% else %}
                                        {{ date }}
                                    {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}