{% extends "layout.html" %}

{% block title %}{{ gettext("Edit Supplier") }}{% endblock %}

{% block main %}

<form method="POST">
    {{ form.csrf_token }}

    <div class="card mx-auto" style="max-width: 30rem;">
    
        <div class="card-header h5 py-2">
            {{ gettext("Edit supplier") }}
            <br>
            <span class="text-secondary">{{ request.view_args.supplier }}</span>
        </div>

        <div class="card-body">

            <div class="form-floating mb-3">
                {{ form.name }}
                {{ form.name.label(class="text-decoration-underline") }}
            </div>
            
            <div class="form-floating mb-3">
                {{ form.details }}
                {{ form.details.label }}
            </div>

            <div class="row row-cols-3 row-cols-md-3 g-1 g-md-3 mb-3">
                <div class="col">
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body p-1">
                            {{ form.in_use.label }}
                        </div>
                        <div class="card-footer">
                            <div class="form-switch">
                                {{ form.in_use }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="text-body-tertiary">{{ gettext("Underlined fields are required") }}</span>
        </div>

        <ul class="list-group list-group-flush m-0">
            <li class="list-group-item">
                {{ gettext("Supplier has") }} <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ url_for('prod.products', ordered_by='supplier') }}">{{ form.all_products.data }} {{ ngettext("product", "products", form.all_products.data) }}</a>, {{ ngettext("and", "of which", form.all_products.data) }} <span class="text-secondary">{{ form.in_use_products.data }} {{ ngettext("is in use", "are in use", form.in_use_products.data) }}</span>
            </li>
        </ul>

        <div class="card-footer py-3">
            <div class="row row-cols-2 g-4">
                <div class="col">
                    {{ form.submit }}
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger px-4" data-bs-toggle="modal" data-bs-target="#deleteModal">{{ gettext("Delete") }}</button>

                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">{{ pgettext("question", "Delete") }} <span class="text-secondary">{{ form.name.data }}</span>?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                {{ gettext("This will delete this supplier! You can't undo this action.") }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ gettext("Close") }}</button>
                                {{ form.delete }}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}