{% extends "layout.html" %}

{% block title %}{{ gettext("New supplier") }}{% endblock %}

{% block main %}

<form method="POST" autocomplete="off">
    {{ form.csrf_token }}

    <div class="card mx-auto" style="max-width: 30rem;">
        
        <div class="card-header h5 py-2">
            {{ gettext("Create new supplier") }}
        </div>

        <div class="card-body">
            
            <div class="form-floating mb-3">
                {{ form.name }}
                {{ form.name.label(class="text-decoration-underline") }}
            </div>

            <div class="form-floating mb-3">
                {{ form.details }}
                {{ form.details.label }}
            </div>

            <span class="text-body-tertiary">{{ gettext("Underlined fields are required") }}</span>
        </div>

        <div class="card-footer">
            {{ form.submit }}
        </div>
    </div>
</form>

{% endblock %}