{% extends "layout.html" %}

{% block title %}{{ gettext("Suppliers") }}{% endblock %}

{% block main %}
<div class="card mx-auto mb-3" style="max-width: 40rem;">
    <div class="card-header h5 py-2">
        {{ gettext("Suppliers") }}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-0">
            <div class="table-responsive mx-auto" style="width: auto;">
                <table class="table align-middle table-sm table-hover table-bordered border-light-subtle table-striped">
                    <caption class="text-center pb-0">{{ Message.UI.Captions.Strikethrough("suppliers") }}</caption>
                    <thead>
                        <tr>
                            <th class="px-3">{{ gettext("Name") }}</th>
                            <th class="px-3">{{ gettext("In use Products") }}</th>
                            <th class="px-3">{{ gettext("All Products") }}</th>
                            <th class="px-3">{{ gettext("Details") }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supplier in suppliers %}
                        <tr>
                            <td><span class="{% if not supplier.in_use %}text-decoration-line-through{% endif %}"><a class="link-dark link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover" href="{{ url_for('sup.edit_supplier', supplier=supplier.name) }}">{{ supplier.name }}</a></span></td>
                            <td>{{ supplier.in_use_products }}</td>
                            <td class="text-secondary">{{ supplier.all_products }}</td>
                            <td class="text-secondary">{{ supplier.details }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </li>
        <li class="list-group-item">
            {{ Message.UI.Stats.Global("suppliers", stats.all_suppliers, stats.in_use_suppliers) }}
        </li>
    </ul>
</div>

{% endblock %}