{% extends "layout.html" %}

{% block title %}{{ gettext("Categories") }}{% endblock %}

{% block main %}
<div class="card mx-auto mb-3" style="max-width: 40rem;">
    <div class="card-header h5 py-2">
        {{ gettext("Categories") }}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-0">
            <div class="table-responsive mx-auto" style="width: auto;">
                <table class="table align-middle table-sm table-hover table-bordered border-light-subtle table-striped">
                    <caption class="text-center pb-0">{{ Message.UI.Captions.Strikethrough("categories") }}</caption>
                    <thead>
                        <tr>
                            <th class="px-3">{{ gettext("Name") }}</th>
                            <th class="px-3">{{ gettext("In use Products") }}</th>
                            <th class="px-3">{{ gettext("All Products") }}</th>
                            <th class="px-3">{{ gettext("Details") }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td><span class="{% if not category.in_use %}text-decoration-line-through{% endif %}"><a class="link-dark link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover" href="{{ url_for('cat.edit_category', category=category.name) }}">{{ category.name }}</a></span></td>
                            <td>{{ category.in_use_products }}</td>
                            <td class="text-secondary">{{ category.all_products }}</td>
                            <td class="text-secondary">{{ category.details }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </li>
        <li class="list-group-item">
            {{ Message.UI.Stats.Global("categories", stats.all_categories, stats.in_use_categories) }}
        </li>
    </ul>
</div>

{% endblock %}